body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: #5E2971;
}

.main {
	padding-top: 20vh;
	margin-right: 6vw;
	margin-left: 6vw;
}

span#firstHead {
    font-weight: 700;
	color: #F7FCA8;
	ont-family: Lato;
    font-size: 48px;
}

span#secondaryHead {
    font-weight: 700;
	color: #CCD269;
	font-family: Lato;
    font-size: 36px;
}

a{
    color: #A1A838 !important;
    font-family: Lato;
    font-size: 24px;
}

div.links {
	word-spacing: 1.2rem;
}